<html lang="en">
{#为了便于访问登陆表单，在 基础模板中改进，即在导航栏中包含指向它的链接#}

<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }} -Microblog</title>
    {% else %}
        <title>Welcome to weibo!</title>
    {% endif %}
</head>
    <body>
        <div>
            Microblog:
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('login') }}">Login</a>
        <div/>
{#            #设置flash格式#}
                <hr>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
            {% block content %}
            {% endblock %}
    </body>
</html>